In [ ]:
#Remove whitespaces from a strings

In [ ]:
Ex:

In [1]:
name = "  aspak   "

print(name)

  aspak

In [2]:
name1 = "  aspak"

name1.lstrip()

'aspak'

In [4]:
name2 = "aspak    "

name2.rstrip()

'aspak'

In [5]:
name3 = "  aspak      "

name3.strip()

'aspak'

In [ ]:
#Introduction to List data type

In [ ]:
definition: it is a collection of items in a particular order
classification: as mutable datatype
how to define the list --------> []

In [6]:
students = ['aspak', 'ashfaq', 'hussain', 'basha', 'shaik']

In [7]:
print(students)

['aspak', 'ashfaq', 'hussain', 'basha', 'shaik']

In [8]:
type(students)

list

In [ ]:
#How to access the elements from the above list

In [ ]:
Introduction to indexing:
indexing starts from 0 to n as 0,1,2,3,4,......

In [ ]:
i want to access hussain name in the output

In [9]:
print(students[2])

hussain

In [10]:
print(students[2].title())

Hussain

In [ ]:
1. How to add new elements to the list
2. How to modify the elements in the list
3. How to delete the element in the list

In [ ]:
1. How to add new elements to the list
add imran to this list students

In [11]:
students.append('imran')

In [12]:
print(students)

['aspak', 'ashfaq', 'hussain', 'basha', 'shaik', 'imran']

In [13]:
students.append('asif')

In [14]:
print(students)

['aspak', 'ashfaq', 'hussain', 'basha', 'shaik', 'imran', 'asif']

In [ ]:
#add azeed to 2nd position

In [15]:
students.insert(2, 'azeed')

In [16]:
print(students)

['aspak', 'ashfaq', 'azeed', 'hussain', 'basha', 'shaik', 'imran', 'asif']

In [17]:
print(students[2])

azeed

In [ ]:
###difference between append and insert method in the list datatype

In [ ]:
2. How to modify the elements in the list

In [18]:
print(students)

['aspak', 'ashfaq', 'azeed', 'hussain', 'basha', 'shaik', 'imran', 'asif']

In [ ]:
#modify ashfaq to vamshi

In [19]:
students[1] = 'vamshi'

In [20]:
print(students)

['aspak', 'vamshi', 'azeed', 'hussain', 'basha', 'shaik', 'imran', 'asif']

In [ ]:
3. How to delete the element in the list

In [ ]:
delete basha from the list

In [21]:
del students[4]

In [22]:
print(students)

['aspak', 'vamshi', 'azeed', 'hussain', 'shaik', 'imran', 'asif']